<!DOCTYPE html>
<html>
    <head>
        <title>Concert Band Instrument Record</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Home</th>
                <th>Display</th>
                <th>Search</th>
                <th>Update</th>
            </tr>
        </table>
        <h1>Concert Band Instrument Record</h1>
        <p>What would you like to do today?</p>
        <!--Buttons to link to other pages, see functionalities-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Inventore praesentium ea voluptas esse debitis laboriosam dignissimos 
        veritatis a magnam maiores est, eaque ex animi corrupti deleniti unde illum? 
        Adipisci, corporis!
    </body>
</html>