<!DOCTYPE html>
<html>
    <head>
        <title>Update - Loan - Concert Band Instrument Record</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Loan Instrument</h1>
        NOT DONE
        <h2>Loan Out</h2>
        <form action="{{ url_for('update_loan') }}" method="POST">
            <p>Matric No: <input type="text" name="matric_no"></p>
            <p>Asset ID: <input type="text" name="asset_id"></p>
            <p>Out Date: <input type="text" name="out_date"></p>
            <input type="submit" value="Loan">
        </form>
        
        <h2>Return Instrument</h2>
        <form action="{{ url_for('update_loan') }}" method="POST">
            <p>Loan No: <input type="text" name="loan_no"></p>
            <p>In Date: <input type="text" name="in_date"></p>
            <input type="submit" value="Return">
        </form>
        {% endblock %}
    </body>
</html>