<!DOCTYPE html>
<html>
    <head>
        <title>Concert Band Instrument Record</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Display</h1>
        <ul>
            <li><a href="{{ url_for('display_loan') }}">Loan Record</a></li>
            <li><a href="{{ url_for('display_repair') }}">Repair Record (NOT DONE)</li>
            <li><a href="{{ url_for('display_stock') }}">Stock List</li>
            <li><a href="{{ url_for('display_student') }}">Student Record</li>
        </ul>
        {% endblock %}
    </body>
</html>